<p id="notice"><%= notice %></p>

<p>
  <strong>Completed:</strong>
  <%= @note.completed %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @note.desc %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
